<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLAP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigator.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/paper.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/research.css' %}">
    <link rel="stylesheet" href="{% static 'css/result.css' %}">
</head>
<body>
    <style> body { background-image: url("{{ conf.avatar.url }}"); } </style>
    <header>
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#" data-target="hero" onclick="handleNavClick(event, this)">Home</a></li>
            <li><a href="#" data-target="research_directions" onclick="handleNavClick(event, this)">Research</a></li>
            <li><a href="#" data-target="gallery" onclick="handleNavClick(event, this)">Gallery</a></li>
            <li><a href="#" data-target="result" onclick="handleNavClick(event, this)">Result</a></li>
            <li><a href="#" data-target="paper" onclick="handleNavClick(event, this)">Paper</a></li>
            <li><a href="#" data-target="contact" onclick="handleNavClick(event, this)">Contact</a></li>

            <li><a href="#" class="dropdown" onclick="toggleDropdown(event)">About Us<span class="arrow">&#9660;</span></a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'members' %}" class="dropdown">Members</a></li>
                    <li><a href="#">Alumni</a></li>
                </ul>
            </li>
        </ul>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>


    <section id="hero" class="hero">
        <div class="hero-content">
            <h1>Welcome to Xmu-LLAP</h1>
            <p>{{conf.quote}} -- {{conf.author}}</p>
            <button class="cta-button" data-target="research_directions" onclick="handleNavClick(event, this)">Get Started</button>
        </div>
    </section>

    <section id="research_directions" class="research_directions">
        <h2>Research Directions</h2>
        <div class="research-grid">
        {% for direction in directions %}
        <div class="research-content">
            <ul>
                <li>{{ direction.direction_name }}</li>
            </ul>
        </div>
        {% endfor %}
        </div>
    </section>
    <div class="hr">
    </div>

<section id="gallery" class="gallery">
    <h2>Gallery of Scientific Research</h2>
    <div class="gallery-row">
        {% for image in galleryimages %}
        <div class="gallery-item">
            <img src="{{ image.image.url }}" alt="Image {{ forloop.counter }}">
            <h3>- {{ image.description|slice:":20" }}</h3>
        </div>
        {% endfor %}
    </div>
</section>

    <div class="hr"></div>
    <section id="result" class="result">
        <div class="result-text">
            <h2>The result of our research</h2>
        </div>
        <div class="result-row">
        {% for image in resultimages %}
        <div class="result-item">
            <img src="{{ image.image.url }}" alt="Image {{ forloop.counter }}">
        </div>
        {% endfor %}
    </div>
    </section>
    <section id="paper" class="paper">
        <div class="paper-text">
            <h2>Our Papers</h2>
        </div>
        <div class="paper-columns">
            {% for paper in papers %}
                <a href="{{ paper.link }}" target="_blank" class="paper-item">
                    • {{ paper.title }} - {{ paper.authors }} - {{ paper.published_date }}
                </a>
            {% endfor %}
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="address-section">
            <h2>Contact Us</h2>
            <p class="address-text">
                "Welcome to visit our campus. The address of our school is "
                <a href="https://ditu.amap.com/place/B02500VK5M" target="_blank"><strong>Xiamen University, Xiang'an Campus</strong></a>
                ", Xiang'an District, Xiamen City, Fujian Province."
            </p>
            <img src="{% static 'images/ip.png' %}" alt="校园图片" class="address-image">
        </div>
    </section>
    <section class="contact">
    <div class="contact-container">
        <div class="contact-item">
            <h3>Contact Us</h3>
            <form id="contact-form" method="post" action="{% url 'submit_contact' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name (Required):</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email (Required):</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" placeholder="Enter your message"></textarea>
                </div>
                <input type="submit" value="Send Message">
            </form>
        </div>
        <div class="contact-item">
            <h3>Get in Touch</h3>
            <p>If you have any inquiries or would like to reach out, feel free to contact me directly:</p>
            <p>Xiamen University, Xiamen, China</p>
            <p>Email: hshe@connect.hku.hk</p>
        </div>
    </div>
</section>

    <footer>
        <p>&copy; 2025 FangQing. All Rights Reserved.</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>