<!-- members.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigator.css' %}">
</head>
<body>
    <header>
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <nav>
        <ul>
    <li><a href="{% url 'home' %}#hero" data-target="hero" onclick="handleNavClick2(event, this)">Home</a></li>
    <li><a href="{% url 'home' %}#research_directions" data-target="research_directions" onclick="handleNavClick2(event, this)">Research</a></li>
    <li><a href="{% url 'home' %}#gallery" data-target="gallery" onclick="handleNavClick2(event, this)">Gallery</a></li>
    <li><a href="{% url 'home' %}#result" data-target="result" onclick="handleNavClick2(event, this)">Result</a></li>
    <li><a href="{% url 'home' %}#paper" data-target="paper" onclick="handleNavClick2(event, this)">Paper</a></li>
    <li><a href="{% url 'home' %}#contact" data-target="contact" onclick="handleNavClick2(event, this)">Contact</a></li>
</ul>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>


<section id="members">
    <h1>Meet Our Team</h1>

    <div class="mentor-section">
        <div class="section-title">Principal Investigator</div>
        <div class="mentor">
            {% for member in members %}
                {% if member.position == 'Professor' %}
                    <div class="member">
                        <img src="{{ member.avatar.url }}" alt="{{ member.name }}">
                        <h2>{{ member.name }}</h2>
                        <div class="position">{{ member.position }}</div>
                        <div class="info-item"><strong>Degree:</strong> {{ member.degree }}</div>
                        <div class="info-item"><strong>Email:</strong> {{ member.email }}</div>
                        <div class="info-item"><strong>Education:</strong> {{ member.education }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="section-divider"></div>

    <div class="team-section">
        <div class="section-title">Research Team</div>
        <div class="team">
            {% for member in members %}
                {% if member.position == 'Member' %}
                    <div class="member">
                        <img src="{{ member.avatar.url }}" alt="{{ member.name }}">
                        <h2>{{ member.name }}</h2>
                        <div class="position">{{ member.position }}</div>
                        <div class="info-item"><strong>Degree:</strong> {{ member.degree }}</div>
                        <div class="info-item"><strong>Email:</strong> {{ member.email }}</div>
                        <div class="info-item"><strong>Education:</strong> {{ member.education }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

    <footer>
        <p>&copy; 2025 FangQing. All Rights Reserved.</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>